<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="app">
<nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={{ url_for('web.t_home') }}>Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
{#              <li><a href={{ url_for('web.clist_for_g') }}>课程</a></li>#}
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
              {% if current_user.ismentor %}
                  <li><a href="{{ url_for('web.m_home') }}">导师系统</a></li>
              {% elif current_user.ishead %}
                  <li><a href="{{ url_for('web.h_home') }}">学科负责人系统</a></li>
              {% else %}

              {% endif %}
              <li><a href="{{ url_for('web.t_course_add_page') }}">添加课程</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.username }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href={{ url_for('web.logout') }}>注销</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div>
        研究生列表：
        <table class="table table-hover table-bordered">
            <tr>
                <th>姓名</th><th>性别</th><th>入学日期</th><th>操作</th>
            </tr>
            {% for graduate in graduates %}
                <tr>
                    <td>{{ graduate.name }}</td>
                    <td>{{ graduate.sex }}</td>
                    <td>{{ graduate.admissiondate }}</td>
                    <td><a href="{{ url_for('web.view_report', g_id=graduate.id) }}">查看Ta的学术交流情况报告</a>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>