<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="app">
<nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={{ url_for('web.t_home') }}>Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
{#              <li><a href={{ url_for('web.clist_for_g') }}>课程</a></li>#}
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
              {% if current_user.ismentor %}
                  <li><a href="{{ url_for('web.mentor_home') }}">导师系统</a></li>
              {% else %}
              {% endif %}
              {% if current_user.ishead %}
                  <li><a href="{{ url_for('web.head_home') }}">学科负责人系统</a></li>
              {% else %}

              {% endif %}
              <li><a href="{{ url_for('web.ta_list') }}">助教系统</a></li>
              <li><a href="{{ url_for('web.t_course_add_page') }}">添加课程</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.username }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href={{ url_for('web.logout') }}>注销</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div>
        志愿列表:
        <table class="table table-hover table-bordered">
            <tr>
                <th>课程名称</th><th>助教名称</th><th>志愿几</th><th>状态</th><th>操作</th>
            </tr>
            {% for wish in wishes %}
                <tr>
                    <td>{{ wish.course.name }}</td>
                    <td>{{ wish.graduate.name }}</td>
                    <td>{{ wish.wish_n }}</td>
                    <td>{{ wish.status }}</td>
                    <td><a href="{{ url_for('web.t_wish_pass', wish_id=wish.id) }}">通过</a>
                </tr>
            {% endfor %}
            </table>
    </div>
    <div>
        我的课程:
        <table class="table table-hover table-bordered">
            <tr>
                <th>课程名称</th><th>课程编号</th><th>学时</th><th>选课人数</th><th>开始时间</th>
            </tr>
            {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.number }}</td>
                    <td>{{ course.hours }}</td>
                    <td>{{ course.selected_num }}</td>
                    <td>{{ course.start_term }}</td>
                </tr>
            {% endfor %}
            </table>
    </div>
    <div>
        我的项目:
        <button class="btn btn-primary" style="float: right" data-toggle="modal" data-target="#addProject">添加项目</button>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="addProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            添加姓名
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('web.add_project') }}", method="post">
                            <div class="form-group">
                                <label>项目名称</label>
                                <input type="text" class="form-control" name="name"  placeholder="项目名称">
                            </div>
                            <div class="form-group">
                                <label>开始日期</label>
                                <input type="datetime-local" class="form-control" name="start_date"  placeholder="开始日期">
                            </div>
                            <div class="form-group">
                                <label>截止日期</label>
                                <input type="datetime-local" class="form-control" name="end_date"  placeholder="截止日期">
                            </div>
                            <div class="form-group">
                                <label>科研预算</label>
                                <input type="text" class="form-control" name="funds"  placeholder="科研预算">
                            </div>
                            <button class="btn-primary" type="submit" href="{{ url_for('web.add_project') }}">提交</button>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <table class="table table-hover table-bordered">
            <tr>
                <th>项目名称</th><th>开始日期</th><th>截止日期</th><th>科研经费</th><th>状态</th><th>通过日期</th><td>操作</td>
            </tr>
            {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.start_date }}</td>
                    <td>{{ project.end_date }}</td>
                    <td>{{ project.funds }}</td>
                    <td>{{ project.status }}</td>
                    <td>{{ project.approval_time }}</td>
                    <td><a href="{{ url_for('web.project_detail', id=project.id) }}">详情</a></td>
                </tr>
            {% endfor %}
            </table>
    </div>
</div>
</body>
</html>