<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style='overflow:Scroll;overflow-x:hidden'>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={{ url_for('web.manager_home') }}>Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <form action={{ url_for('web.course_add') }} method="post">
                <div class="form-group">
                    <label>课程名称</label>
                    <input type="text" class="form-control" name="name"  placeholder="课程名称">
                </div>
                <div class="form-group">
                    <label>课程编号</label>
                    <input type="text" class="form-control" name="number" placeholder="课程编号">
                </div>
                <div class="form-group">
                    <label>学时</label>
                    <input type="text" class="form-control" name="hours"  placeholder="学时">
                </div>
                <div class="form-group">
                    <label>课程类型</label>
                    <input type="text" class="form-control" name="type"  placeholder="课程类型">
                </div>
                <div class="form-group">
                    <label>选课人数</label>
                    <input type="text" class="form-control" name="selected_number"  placeholder="选课人数">
                </div>
                <div class="form-group">
                    <label>开始时间</label>
                    <input type="date" class="form-control" name="start_date"  placeholder="开始时间">
                </div>
                <div class="form-group">
                    <label>任课教师</label>
                    <input type="text" class="form-control" name="teacher"  placeholder="任课教师">
                </div>
                <div class="form-group">
                    <label>所属学科</label>
                    <input type="text" class="form-control" name="subject"  placeholder="所属学科">
                </div>
                    <button style="float: right" type="submit" class="btn btn-default">提交</button>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</body>
</html>